
html{
    position: relative;

}

body{
    margin-bottom: 80px;
   
}
section{
    padding-top: 5rem;
}

.jumbotron{
    height: 700px;
    background-image: url(../../img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 30px;
    padding-top: 80px;
    
    color: black;
}

.jumbotron img{
    box-shadow: 1px 1px 10px rgba(0, 0,0, 0.5);
}

.jumbotron h1 , .jumbotron p{
    text-shadow: 3px 4px 10px rgba(0, 0,0, 0.5);
}

.jumbotron h1{
    font-size: 5rem;
}

.jumbotron p{
    font-size: 1.5rem;
}

 hr{
    width: 250px;
    border-top: 3px solid black;
    margin: auto;
}


.about .pKiri{
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}
.pKanan{
    opacity: 0;
    transform: translate(50px, 0) rotate(-15deg);
    transition: 1s;
}

.pKiri.pMuncul, .pKanan.pMuncul{
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio{
    background-color: #eee;
}

.portfolio .card{
    opacity: 0;
    transition: .5s;
    transform: translate(0, -40px);
}

.portfolio .card.muncul{
    opacity: 1;
    transform: translate(0, 0);

}

.contact{
    min-height: 900px;
}

#pesan{
    resize: none;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
   
    background-color: #333;
    padding-top: 30px;
}

footer p{
    color: #aaa;
    font-size: 1em;
}
footer a{
    text-decoration: none;
    color:  #aaa;
}
footer a:hover{
    text-decoration: none;
    color:  rgb(255, 255, 255);
}
.item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    margin-bottom: 20px;
    color: #aaa;
    opacity: 0.75;
  }
  .item.social > a:hover{
      color: white;
  }

  @media only screen and (max-width: 900px){
    .jumbotron h1{
        font-size: 2rem;
    }
    
    .jumbotron p{
        font-size: 1rem;
    }

    .jumbotron{
        height: 450px;
        background-image: url(../../img/header.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 0 30px;
        padding-top: 80px;
        
        color: black;
    }
    .card{
        width: 90%;
        margin: auto;
    }
  }